.post {
	&--list {
		padding-bottom: 30px;

		& + .post--list {
			padding-top: 30px;
			border-top: 1px solid #ddd;
		}
	}
	&--entry-header {
		.entry-title {
			margin-top: 0;
			font-size: 20px;
		}
	}
	&--entry-content {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

.nav-links {
	display: flex;
	.nav-previous {
		flex-grow: 1;
	}
}

.entry-footer {
	.tags-links,
	.cat-links {
		display: block;
	}
	a {
		color: #666;
		&:hover {
			color: #222;
		}
	}

	.edit-link {
		margin-top: 15px;
		@extend .btn;
		@extend .btn-default;
	}
}
